@model ImmunIt.Models.Patient


@{
    /**/

    ViewBag.Title = "AddPatient";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.form-validator.min.js"></script>
<h2>Patient Register</h2>
<hr />

@using (Html.BeginForm("PatientRegister", "Manager", FormMethod.Post))
{
    <div class="form-group row">
        <label for="inputId" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control",
                                               id = "inputId" ,
                                               data_validation="custom",
                                               data_validation_regexp ="^[0-9]{9,9}$",
                                               data_validation_help ="ID must be 9 digits" })
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control",
                                                       id = "inputPassword",
                                                       data_validation ="length",
                                                       data_validation_length ="min8" })
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "inputName",data_validation ="length",
                                                       data_validation_length ="5-50" })    
        </div>
    </div>

    <div class="form-group row">
        <label for="inputBloodType" class="col-sm-2 col-form-label">Blood Type</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.BloodType, new { @class = "form-control", id = "inputBloodType",data_validation="required"})
        </div>
    </div>


    <div class="form-group row">
        <label for="inputMedicineAllergy" class="col-sm-2 col-form-label">Medicine Allergy</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.MedicineAllergy, new { @class = "form-control", id = "inputMedicineAllergy"})
        </div>
    </div>


    <div class="form-group row">
        <label for="inputChronicDiseases" class="col-sm-2 col-form-label">Chronic Diseases</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ChronicDiseases, new { @class = "form-control", id = "inputChronicDiseases"})
        </div>
    </div>

    <input id="role" name="role" type="hidden" value="Patient" />
    <input class="btn btn-outline-primary" id="submit" type="submit" value="Add Patient" />
    <h4 class="text-danger">@ViewBag.message</h4>
}
<script>
    $.validate();
</script>