@model ImmunIt.ViewModels.ViewModel


@{
    /**/

    ViewBag.Title = "AddVaccine";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>Add Vaccine [@Model.patient.Name]</h2>
<hr />

@using (Html.BeginForm("AddVaccine", "Medic", FormMethod.Post))
{
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.vaccine.Name, new { @class = "form-control", id = "inputName" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.vaccine.Name)</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.vaccine.description, new { @class = "form-control", id = "inputDescription" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.vaccine.description)</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDateGiven" class="col-sm-2 col-form-label">Date Given</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.vaccine.DateGiven, new { @class = "form-control", id = "inputDateGiven", type = "date" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.vaccine.DateGiven)</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDateExpired" class="col-sm-2 col-form-label">Date Expired</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.vaccine.DateExpired, new { @class = "form-control", id = "inputDateExpired", type = "date" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.vaccine.DateExpired)</small>
        </div>
    </div>
    <input id="patientId" name="patientId" type="hidden" value="@Model.patient.Id" />
    <input class="btn btn-outline-primary" id="submit" type="submit" value="Add Vaccine" />
    <h4 class="text-danger">@ViewBag.message</h4>
}






