@model ImmunIt.Models.Patient
@{
    ViewBag.Title = "PatientPage";
}

<h2>Patient Page</h2>
<hr />
<h4>Patient's details</h4>
<br />
<h3>Name: @Model.Name</h3>
<br />
<h3>ID: @Model.Id</h3>
<br />
<h3>Blood type: @Model.BloodType</h3>
<br />
<h3>Allergies: @Model.MedicineAllergy</h3>
<br />
<h3>Chronic disease: @Model.ChronicDiseases</h3>

<br />
<hr />
<h4>Immune Card</h4>
<br />

                     <div class="col-sm-4">
                         <h3>Vaccines</h3>
                         <table class="table table-bordered table-sm">
                             <thead class="thead-light">
                                 <tr>
                                     <th>Name</th>
                                     <th>Description</th>
                                     <th>Date Given</th>
                                     <th>Date Expires</th>
                                 </tr>
                             </thead>
                             @foreach (var vaccine in Model.card.Vaccines)
                             {
                                 <tr>
                                     <td>@vaccine.Name</td>
                                     <td>@vaccine.description</td>
                                     <td>@vaccine.DateGiven.Date</td>
                                     <td bgcolor ="@vaccine.getExpiredBGColor()">@vaccine.DateExpired</td>
                                 </tr>
                             }
                         </table>
                         Total Vaccines :<b class="text-info"> @Model.card.Vaccines.Count</b>
                     </div>
<br />
<br />

<ul class="list-group text-center">
    <li class="list-group-item">
        <form action="Vaccine" method="post">
            <input name="patientId" type="hidden" value="@Model.Id" />
            <input name="medicId" type="hidden" value="@User.Identity.Name" />
            <input type="submit" class="btn btn-outline-primary" value="Add Vaccine" />
        </form>

    </li>
</ul>
