@model ImmunIt.Models.Patient
@{
    ViewBag.Title = "PatientPage";
}

<h2>PatientPage</h2>
<hr />

<h4>@Model.Name</h4> <small>[@Model.Id]</small>

                     <div class="col-sm-4">
                         <h4>Vaccines</h4>
                         <table class="table table-bordered table-sm">
                             <thead class="thead-light">
                                 <tr>
                                     <th>Name</th>
                                     <th>Description</th>
                                     <th>Date Given</th>
                                     <th>Date Expires</th>
                                 </tr>
                             </thead>
                             @foreach (var vaccine in Model.card.Vaccines)
                             {
                                 <tr>
                                     <td>@vaccine.Name</td>
                                     <td>@vaccine.description</td>
                                     <td>@vaccine.DateGiven</td>
                                     <td bgcolor ="@vaccine.getExpiredBGColor()">@vaccine.DateExpired</td>
                                 </tr>
                             }
                         </table>
                         Total Vaccines :<b class="text-info"> @Model.card.Vaccines.Count</b>
                     </div>
<br />
<br />

<ul class="list-group text-center">
    <li class="list-group-item">
        <form action="NewVaccine" method="post">
            <input name="patientId" type="hidden" value="@Model.Id" />
            <input name="medicId" type="hidden" value="@User.Identity.Name" />
            <input type="submit" class="btn btn-outline-primary" value="Add Vaccine" />
        </form>

    </li>
</ul>
